/*Aqui va el estilo de Teclados */

body {
   background-image:url("../imagenes-teclados/background.png");   
   background-size:cover;
   overflow-y: scroll;
}

* {
  margin:0;
}

#wrapper{
    width:100%;
    height:100vh;
    position:relative;
}

/* Aqui empieza el header */

header {
    position:relative;
    height:250px; 
    background-image:url("../imagenes-teclados/tecladoheader.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Share Tech Mono', monospace;
}

header br {
  display:none;
}

header #titulo {
    position:absolute;
    left:100px;
    top:30px;
    color:white;
    font-size: 3em;
    border: 4px solid rgb(255, 255, 255);
    outline:4px solid rgb(102, 83, 83);
}

@media screen and (max-width: 710px) {
    header {
      background-image:url("../imagenes-teclados/Intro1.jpg") ;
      background-repeat:no-repeat;
      background-size:cover;
    }

    header br {
      display:block;
    }

    header #titulo {
      width:80%;
      top:60px;
      text-align:center;
      right:0;
      left:0;
      margin-left:10%;
      margin-right:10%;
      font-size:2.5em;
    }
}

/* Aqui empieza el nav */

.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width:100%;
    font-family: 'Share Tech Mono', monospace;
    border-top:2px solid white;
    border-bottom:2px solid white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 28px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /*incluimos un font awesome del menu hamburguesa oculto*/
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 940px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  }

  /*Aqui termina el nav */

  /*Aqui empieza el main */
  main { 
    width:80%;
    margin:auto;
    font-family: 'Titillium Web', sans-serif;    
  }

  main .Tipos {    
    color:white;
    margin:50px auto;
  }

  main .Tipos h1 {
    margin-bottom: 50px;
    font-family: 'Share Tech Mono', monospace;
  }

  main .Tipos #tijera {
    width:300px;  
    float:left;  
    margin-right: 100px;
  }

  main .Tipos #tijera img {
    margin-top:20px;
    margin-bottom:40px;
  }

  main .Tipos #membrana {
    width:300px;  
    float:left;  
    margin-right: 100px;
  }

  main .Tipos #membrana img {
    margin-top:44px;
    margin-bottom:40px;
  }

  main .Tipos #mecanicos {
    width:300px;  
    float:left;  
    margin-right: 100px;
  }

  main .Tipos #mecanicos img {
    margin-top:44px;
    margin-bottom:40px;
  }

  main .Tipos #panelmembrana {
    width:300px;  
    float:left; 
    margin-bottom:200px; 
  }

  main .Tipos #panelmembrana img {
    margin-top:44px;
    margin-bottom:40px;
  }

  /*Aqui termina el main */

  /*Aqui comienza el footer */
  footer { 
    position:fixed;
    padding:10px;
    width:100%;
    background-color:rgb(0, 0, 0);
    color:white;
    bottom:0;
    font-size:1em;
    font-weight:bold;
    text-align:center;
    border-top:1px solid white;
  }
  /*Aqui termina el footer */
  